In [2]:
# importando a biblioteca do pandas
import pandas as pd

In [3]:
dict_test = {
    "Nome": [ "João", "Maria", "José", "Silvio", "Patricia", "leonidas","Kayo", "Morgana", "Flavio", "Elisson", "Helena"],
    "Gênero": ["Masculino", "Feminino", "Masculino", "Masculino", "Feminino", "Masc", "Masc", "fem", "masc", "Homem", "Mulher"],
    "Idade": [52, 47, 65, 34,20, 26, 38, 24, 31, 22, 18],
    "UF": ["PE", "PE", "PB", "RN", "PB", "PE", "PE", "PE", "PE", "PE", "SP"]
}

In [4]:
#Criando um dataframe apartir de um dicionario
df = pd.DataFrame(dict_test)

In [ ]:
# metodo head() imprime as 5 linhas iniciais do dataframe.
df.head(3)

    Nome     Gênero  Idade  UF
0   João  Masculino     52  PE
1  Maria   Feminino     47  PE
2   José  Masculino     65  PB

In [ ]:
#imprime as ultimas 5 linhas.
df.tail(10)

        Nome     Gênero  Idade  UF
1      Maria   Feminino     47  PE
2       José  Masculino     65  PB
3     Silvio  Masculino     34  RN
4   Patricia   Feminino     20  PB
5   leonidas       Masc     26  PE
6       Kayo       Masc     38  PE
7    Morgana        fem     24  PE
8     Flavio       masc     31  PE
9    Elisson      Homem     22  PE
10    Helena     Mulher     18  SP

In [ ]:
df.describe()

           Idade
count  11.000000
mean   34.272727
std    14.960554
min    18.000000
25%    23.000000
50%    31.000000
75%    42.500000
max    65.000000

In [ ]:
df.columns

Index(['Nome', 'Gênero', 'Idade', 'UF'], dtype='object')

In [ ]:
df.count()

Nome      11
Gênero    11
Idade     11
UF        11
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    11 non-null     object
 1   Gênero  11 non-null     object
 2   Idade   11 non-null     int64
 3   UF      11 non-null     object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

In [ ]:
df.shape

(11, 4)

In [5]:
df.sample(3)

      Nome     Gênero  Idade  UF
6     Kayo       Masc     38  PE
10  Helena     Mulher     18  SP
3   Silvio  Masculino     34  RN

In [ ]:
from google.colab import drive
drive.mount('/content/drive', True)

Mounted at /content/drive

In [ ]:
arquivo = '/content/drive/MyDrive/projeto/acidentes2021.csv'
dataset = pd.read_csv(arquivo, sep=';', header=0)
print('Base carregada com sucesso \o/')

Base carregada com sucesso \o/

In [ ]:
dataset

,data,hora,natureza_acidente,situacao,bairro,endereco,numero,detalhe_endereco_acidente,complemento,bairro_cruzamento,...,sinalizacao,condicao_via,conservacao_via,ponto_controle,situacao_placa,velocidade_max_via,mao_direcao,divisao_via1,divisao_via2,divisao_via3
0,2021-01-01,19:44:00,COM VÍTIMA,FINALIZADA,MADALENA,RUA BENFICA,NaN,NaN,EM FRENTE AO EXTRA NA SAIDA,MADALENA,...,Perfeito estado,Seca,Perfeito estado,Outros,Não há placas,NaN,Dupla,Faixa contínua,Faixa seccionada,NaN
1,2021-01-01,23:15:40,COM VÍTIMA,FINALIZADA,VÁRZEA,AV CAXANGA,NaN,RUA GASTAO VIDIGAL,EM FRENTE A UPA DA CAXANGA,VÁRZEA,...,Perfeito estado,Oleosa,Perfeito estado,Outros,Outras,NaN,Única,Não existe,NaN,NaN
2,2021-01-02,10:54:00,COM VÍTIMA,FINALIZADA,VASCO DA GAMA,RUA RESPLENDOR,353,NaN,AO LADO DO COLEGIO ADERBAL GALVÃO EM FRE...,VASCO DA GAMA,...,Incompleta,Seca,Perfeito estado,Não existe,Não há placas,NaN,Dupla,Não existe,NaN,NaN
3,2021-01-02,11:13:00,COM VÍTIMA,FINALIZADA,BOA VIAGEM,RUA VISCONDE DE JEQUITINHONHA,22,RUA CAPITAO ZUZINHA,RUA CAPITÃO ZUZINHA,BOA VIAGEM,...,Perfeito estado,Seca,Perfeito estado,Faixa de pedestre,Outras,NaN,Única,Canal,NaN,NaN
4,2021-01-03,09:32:00,COM VÍTIMA,FINALIZADA,ILHA DO RETIRO,AV ENGENHEIRO ABDIAS DE CARVALHO,365,NaN,EM FRENTE A LANCHONETE COXINHAS DE BATATA,ILHA DO RETIRO,...,Perfeito estado,Seca,Perfeito estado,Faixa de pedestre,Outras,60 km/h,Dupla,Faixa contínua,Faixa seccionada,Canteiro central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2375,2021-12-31,11:36:00,COM VÍTIMA,FINALIZADA,ESTÂNCIA,AV RECIFE,673,NaN,EM FRENTE AO LABORATORIO CERPE,ESTÂNCIA,...,Perfeito estado,Seca,Perfeito estado,Não existe,R-6a,NaN,Dupla,Faixa contínua,Faixa seccionada,Canteiro central
2376,2021-12-31,12:56:00,COM VÍTIMA,FINALIZADA,VÁRZEA,RUA GASTAO VIDIGAL,125,NaN,EM FRENTE AO MOTEL DO NINJA,VÁRZEA,...,Perfeito estado,Seca,Perfeito estado,Não existe,Não há placas,NaN,Dupla,Faixa seccionada,NaN,NaN
2377,2021-12-31,15:00:00,COM VÍTIMA,FINALIZADA,TORREÃO,AV NORTE MIGUEL ARRAES DE ALENCAR,NaN,RUA NATIVIDADE SALDANHA,ACIDENTE COM VITÍMA NA PRAÇA DA PICANHA / SOLI...,TORREÃO,...,Perfeito estado,Seca,Perfeito estado,Faixa de pedestre,Outras,60 km/h,Dupla,Faixa contínua,Faixa seccionada,Canteiro central
2378,2021-12-31,20:44:00,COM VÍTIMA,CANCELADA,PRADO,RUA PANDIA CALOGERAS,NaN,NaN,PROX AO HABIBIS,PRADO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2379,2021-12-31,20:56:00,COM VÍTIMA,CANCELADA,IPSEP,RUA JEAN EMILE FAVRE,NaN,NaN,ENFRENTE A SO MOTO E FARMACIA DIARIAMENTE,IPSEP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN